---
layout: default
body_class: gallery
title: Gallery
permalink: /gallery/
published: true
---

{% capture h1bg %}#{{ site.default_gallery_header_bg }}{% endcapture %}
{% capture h1color %}#{{ site.default_gallery_header_h1color }}{% endcapture %}
<style media="screen" type="text/css">
      header,
      .alpha {background:{{ h1bg }};}
      .alpha h1{color:{{ h1color }};}
      header a:link,header a:visited{color:{{ h1color }};}
      .alpha a:link,.alpha a:visited{color:{{ h1color }};}
      a:link,a:visited {color:{{ h1bg }};
      }
</style>


<div class="section-wrapper alpha">
<section>
<div class="third">
<h1>Designs</h1>
</div>

<div class="two-thirds omega">
<p>The gallery will be evolving rapidly over the next several weeks. We plan to host design files as well as documentation for creating designs.  If you would like to submit a design for the gallery, please <a href="{{site.url}}/contact"><strong>get in touch</strong></a>, and we would be happy to host it for you.</p>
</div>

</section>
</div>


<section class="gallery">
<div class="third">
	<h2>filter designs by<strong> tag</strong></h2>
	<div id="tag-filters"></div>
</div>
<div class="two-thirds omega">

	<div id="gallery-pagination"></div>

	<div id="gallery">

	{% for design in site.gallery %}

		<figure class="third" data-tags="{{ design.tags | join: ", " }}">

			<a id="img" href="{{ design.url }}">
			<img src="{{site.baseurl}}/assets/gallery/{{design.title}}/{{ design.svg_image_file }}" />
			</a>

			<a href="{{ design.url }}">
				<figcaption>
					<p><strong>{{ design.title }}</strong></p>
					<p><strong>tags:</strong> {% for tag in design.tags %}{{ tag }}{% unless tag == design.tags.last %}, {% endunless %}{% endfor %}</p>
			</a>

		</figcaption>
		</figure>

	{% endfor %}
</div>
</section>
<section>






</section>
