---
layout: default
body_class: gallery
title: Gallery
permalink: /gallery/
published: true
---
<div class="section-wrapper alpha">
<section>
<div class="third">
<h1>Designs</h1>
</div>

<div class="two-thirds omega">
<p>The gallery will be evolving rapidly over the next several weeks. We plan to host design files as well as documentation for creating designs.  If you would like to submit a design for the gallery, please <a href="{{site.url}}/contact"><strong>get in touch</strong></a>, and we would be happy to host it for you.</p>
</div>

</section>
</div>


<section>
	<div class="third">
		<h2>filter designs by<strong> tag</strong></h2>
		<ul id="gallery-filters"></ul>
		<a href="#" id="remove-filters">show all / remove filters</a>
	</div>
	<div class="two-thirds omega">
	{% for design in site.gallery %}

		{% if design.png_image_file and design.url %}
			<figure class="{% unless design.tags == empty %}{{ design.tags }}{% endunless %}">

				<a href="{{ design.url }}">
				<img src="{{ design.url }}{{ design.png_image_file }}" />
				</a>

				<figcaption>
					<p><strong>TITLE:</strong> {{ design.title }}</p>
					<p><strong>TAGS:</strong>
						{% if design.tags.size > 0 %}
							{% for tag in design.tags %}
						    {{ tag }}{% unless forloop.last %}, {% endunless %}
						  {% endfor %}
						{% endif %}
					</p>
				</figcaption>

			</figure>
		{% endif %}


		{% endfor %}
	</div>
</section>
