---
layout: blank
category: frontpage
published: true
sitemap:
  priority: 1
---
<div class="section-wrapper alpha" >

    <div class="video-wrapper">
      <video autoplay loop muted poster="video/foot-small.jpg" class="background-video">
        <source src="assets/video/foot.mp4" type="video/mp4">
        <!--<source src="assets/video/sample.webm" type="video/webm">-->
      </video>
      <div class="video-shade"></div>
    </div>


    <section >
      <div class="half">
        <h2><strong>popupCAD</strong> is a suite of tools to help designers and engineers make laminate devices, like <strong>robots</strong> and machines.</h2>

      </div>
      <div class="half omega">
        <h2>popupCAD enables a <strong>simple design process</strong>, letting you focus on the device design and less on how to make it.</h2>

        <a href="/docs/about-popupcad/" class="centered btn btn-1 white">Learn more about us</a>
      </div>
    </section>

</div>

<!--
<div class="section-wrapper bravo" data-center="background-position: 50% -300px;" data-top-bottom="background-position: 50% 0px;" data-anchor-target=".bravo">
</div>
-->
<div class="section-wrapper bravo" >
  <section>
    <div class="two-thirds">

    <h2 class="right"><strong>Our tutorials are a great place to start</strong></h2>


    </div>
    <div class="third omega">
      <a href="/tutorials/introduction" class="btn btn-1 salmon">Dive in</a>
    </div>
  </section>


</div>

<div class="section-wrapper delta">

  <section>


      <div class="third">
        <h1 class="centered icon-info-circled"></h1>
        <h3 class="centered">There's a <a href="competition/">competetion</a> coming up. So that's cool..</h3>
    </div>


		<div class="third">
      <h1 class="centered icon-cogs"></h1>
      <h3 class="centered"><a href="tutorials/introduction/">Make</a> walking, crawling robotic devices. Make deployable structures and mechanisms.  Ages five and up.</h3>

		</div>


		<div class="third omega">
      <h1 class="centered icon-github"></h1>
      <h3 class="centered">We have a <a href="docs/download/">repository</a>, you could check that out.</h3>
		</div>

  </section>

</div>


{% comment %}
<div class="section-wrapper echo">
</div>
{% endcomment %}

<div class="section-wrapper echo">
  <section>
      <h6>Latest news</h6>

        <ul class="no-bullets">
          {% for post in site.posts offset: 0 limit: 3 %}

          <li class="third">
              <a href="{{ post.url | prepend: site.baseurl }}">

                <h2><strong>{{ post.title }}</strong></h2>
                <span>
                  {% comment %}
                  <datetime> {{ post.date | date: "%b %-d, %Y" }}</datetime>
                  {% endcomment %}

                  {% if post.content contains "<!--more-->" %}
                     {{ post.content | split:"<!--more-->" | first % }}
                  {% else %}
                     {{ post.content | strip_html | truncatewords:50 }}
                  {% endif %}
                </span>


                <h6><strong>READ MORE</strong><i class="icon-right-dir"></i></h6>

              </a>

          </li>
          {% endfor %}
        </ul>
    </section>
  </div>


  <!--
  <div class="section-wrapper charlie" data-top="background-position: 50% -500px;" data-top-bottom="background-position: 50% 0px;" data-anchor-target=".delta">
  -->
  <div class="section-wrapper charlie">
    <section>
      <h2 class="centered">subscribe to the popupCAD newsletter</h2>
            <form action="{{ site.subscribe_form_url }}" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" id="newsletter-form" placeholder="signup@example.com" required>
            <input type="submit" value="Subscribe" id="newsletter-button" name="subscribe" class="btn btn-1 yellow">
            </form>
    </section>
  </div>
