---
layout: blank
category: frontpage
published: true
sitemap:
  priority: 1
---
<style>
.img_test {
  	max-height: 300px;
  	max-width: 80%;
  	overflow: hidden;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: auto;
  }
</style>
<div class="section-wrapper alpha" >

    <script id="video-tag" type="text/template">
      {% comment %}
        Use this to set the background video for .alpha.
        The script is ignored by browsers because its type is not 'javascript',
        which means the video is not included in the page by default.
        Then, if not on mobile, we use js to copy the contents into the empty .video-wrapper below
      {% endcomment %}
      <video autoplay loop muted poster="/assets/video/foot-small.jpg" class="background-video">
        <source src="/assets/video/foot.mp4" type="video/mp4">
        <!--<source src="/assets/video/sample.webm" type="video/webm">-->
      </video>
    </script>

    <div class="video-wrapper"></div>
    <div class="video-shade"></div>


    <section >
      <div class="half">
        <h2><strong>popupCAD</strong> is a suite of tools to help designers and engineers make laminate devices, like <strong>robots</strong> and machines.</h2>

      </div>
      <div class="half omega">
        <h2>popupCAD enables a <strong>simple design process</strong>, letting you focus on the device design and less on how to make it.</h2>

        <a href="/docs/about-popupcad/" class="centered btn btn-1 white">Learn more about us</a>
      </div>
    </section>

</div>

<div class="section-wrapper charlie" >
  <section>
    <div class="half centered">
      <h1 class="centered" style="font-size: 3em;"><i class="icon-star"></i></h1>
      <h2 class="centered"><strong>See the <a href="/challenge-wrapup/">winners</a> of the <br>2015 popup design challenge!</strong></h2>
    </div>
    <div class="half omega">
      <a href="/challenge-wrapup/"><img class="img_test" src="/assets/images/jellymiu.jpg"></a>
    </div>
  </section>
</div>

<div class="section-wrapper bravo">
  <section>
    <h2 class="centered">subscribe to the popupCAD newsletter</h2>
          <form action="{{ site.subscribe_form_url }}" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" id="newsletter-form" placeholder="signup@example.com" required>
          <input type="submit" value="Subscribe" id="newsletter-button" name="subscribe" class="btn btn-1 yellow">
          </form>
  </section>
</div>



<div class="section-wrapper delta">

  <section>
		<div class="half">
      <h1 class="centered icon-cogs"></h1>
      <h4 class="centered"><a href="tutorials/popupcad-overview/">Make</a> walking, crawling robotic devices. Make deployable structures and mechanisms.  Ages five and up.</h4>
		</div>


		<div class="half omega">
      <h1 class="centered icon-info-circled"></h1>
      <h4 class="centered">We have a <a href="docs/download/">ton of information</a>, about popupcad, materials, and tools; you could check that out.</h4>
		</div>

  </section>

</div>


{% comment %}
<div class="section-wrapper echo">
</div>
{% endcomment %}

<div class="section-wrapper echo">
  <section>
      <h6>Latest news</h6>

        <ul class="no-bullets">
          {% for post in site.posts offset: 0 limit: 3 %}

          <li class="third">
              <a href="{{ post.url | prepend: site.baseurl }}">

                <h2><strong>{{ post.title }}</strong></h2>
                <span>
                  {% comment %}
                  <datetime> {{ post.date | date: "%b %-d, %Y" }}</datetime>
                  {% endcomment %}

                  {% if post.content contains "<!--more-->" %}
                     {{ post.content | split:"<!--more-->" | first % }}
                  {% else %}
                     {{ post.content | strip_html | truncatewords:50 }}
                  {% endif %}
                </span>


                <h6><strong>READ MORE</strong><i class="icon-right-dir"></i></h6>

              </a>

          </li>
          {% endfor %}
        </ul>
    </section>
  </div>


  <!--
  <div class="section-wrapper charlie" data-top="background-position: 50% -500px;" data-top-bottom="background-position: 50% 0px;" data-anchor-target=".delta">
  -->
