<div class="morph-button morph-button-sidebar morph-button-fixed">
			<button type="button"><span class="icon icon-cog">Menu</span></button>
			<div class="morph-content">
				<div>
					<div class="content-style-sidebar">
						<span class="icon icon-cancel-circled2">Close the overlay</span>
						<h2>Menu</h2>
						<ul>
							<li><a class="icon icon-angle-right" href="/about/">About</a></li>
							<li><a class="icon icon-angle-right" href="">(Getting Started)</a></li>
							<li><a class="icon icon-angle-right" href="/docs/introduction">Documentation</a></li>
							<li><a class="icon icon-angle-right" href="/tutorials/introduction">Tutorials</a></li>
							<li><a class="icon icon-angle-right" href="">(Resources)</a></li>
							<li><a class="icon icon-angle-right" href="/contact">Contact</a></li>
							<li><a class="icon icon-angle-right" href="/download">Download</a></li>
						</ul>
					</div>
				</div>
			</div>
</div><!-- morph-button -->
