<div class="morph-button morph-button-sidebar morph-button-fixed">
			<button type="button"><span class="icon icon-menu">{{ site.name }}</span></button>
			<div class="morph-content">
				<div>
					<div class="content-style-sidebar">
						<span class="icon icon-cancel-circled2">Close the overlay</span>
						<h2>Menu</h2>
						<ul>
							<li><a class="icon icon-angle-right" href="/">Home</a></li>
							<li><a class="icon icon-angle-right" href="/docs/what-is-popupCAD/">Documentation</a></li>
							<li><a class="icon icon-angle-right" href="/tutorials/popupcad-overview">Tutorials</a></li>
              <li><a class="icon icon-angle-right" href="/challenge-wrapup/">Challenge</a></li>
							<li><a class="icon icon-angle-right" href="/gallery/">Gallery</a></li>
							<li><a class="icon icon-angle-right" href="/news">News</a></li>
							<li><a class="icon icon-angle-right" href="/docs/download">Download</a></li>
						</ul>
					</div>
				</div>
			</div>
</div><!-- morph-button -->
