<div class="section-wrapper" id="footer">
  <footer>
    <div class="quarter centered">

      <h5>stuff</h5>
      <ul class="no-bullets">


        <li>
          <a href="/docs/download">download</a>
        </li>

        <li>
          <a href="/docs/citing-popupcad">citations</a>
        </li>

        <li>
          <a href="/disclaimer">disclaimer</a>
        </li>

        <li>
          <a href="/docs/popupcad-license">license</a>
        </li>

      </ul>

    </div>
    <div class="quarter centered">

      <h5>learn</h5>
      <ul class="no-bullets">
        <li>
          <a href="/tutorials/popupcad-overview">tutorials</a>
        </li>
        <li>
          <a href="/docs/what-is-popupCAD">documentation</a>
        </li>
        <li>
          <a href="/news/">news</a>
        </li>
        <li>
          <a href="/gallery/">gallery</a>
        </li>
        <li>
          <a href="/challenge-wrapup/">challenge</a>
        </li>
      </ul>

    </div>

    <div class="quarter centered">
      <h5>connect</h5>
      <ul class="no-bullets">

        <li>
          <a href="http://github.com/{{ site.github_username }}" class="icon-github">github</a>

        </li>

        <li>
          <a href="http://twitter.com/{{ site.twitter_username }}" class="icon-twitter-circled">twitter</a>
        </li>

        <li>
          <a href="http://facebook.com/{{ site.facebook_username }}" class="icon-facebook-circled">facebook</a>

        </li>

        <li>
          <a href="http://plus.google.com/{{ site.gplus_username }}" class="icon-gplus-circled">gplus</a>

        </li>

        <li>
          <a href="/feed.xml" class="icon-rss">rss feed</a>
        </li>
        <li>
          <a href="/contact" class="icon-mail">contact</a>
        </li>
      </ul>
    </div>

    <div class="quarter right omega">
      <h5>about </h5>
      <p>popupCAD is brought to you by the <a href="http://wyss.harvard.edu/">Wyss Institute for Biologically Inspired Engineering</a> at Harvard University, and by the <a href="http://idealab.asu.edu/">IDEAlab</a> at Arizona State University.</br>
      <a href="/docs/about-popupcad">learn more...</a></p>
    </div>
</footer>
<footer>

    <hr>

      <p class="two-thirds">Copyright © 2014 - 2015 The President and Fellows of Harvard College.</br>
      Copyright © 2016 popupCAD.org</p>

      <p class="third right omega"><a href="http://demonflower.com">designed by <strong>demonflower</strong></a></p>
</footer>
<footer>
    <div class="half centered ">
      <a href="http://wyss.harvard.edu/">    
        <img src="{{site.baseurl}}/assets/images/wysslogo-white.png" height="100px">
      </a>
    </div>
    <div class="half centered omega">
      <a href="http://idealab.asu.edu/">
        <img src="{{site.baseurl}}/assets/images/idealab logo_3_2_100_plain.svg"  height="100px">
      </a>
    </div>
</footer>

  </div>
