<footer>
  <section>
    <div class="quarter">

      <h5>stuff</h5>
      <ul class="no-bullets">
        <li>
          <a href="/docs/download">download</a>
        </li>

        <li>
          <a href="/docs/citing-popupcad">citations</a>
        </li>

        <li>
          <a href="/disclaimer">disclaimer</a>
        </li>

        <li>
          <a href="/docs/popupcad-license">license</a>
        </li>

      </ul>

    </div>
    <div class="quarter">

      <h5>learn</h5>
      <ul class="no-bullets">
        <li>
          <a href="/tutorials/introduction">tutorials</a>
        </li>
        <li>
          <a href="/docs/what-is-popupCAD">documentation</a>
        </li>
        <li>
          <a href="/blog/">blog</a>
        </li>
      </ul>

    </div>

    <div class="quarter">
      <h5>connect</h5>
      <ul class="no-bullets">

        <li>
          <a href="http://github.com/{{ site.github_username }}" class="icon-github">github</a>

        </li>

        <li>
          <a href="http://twitter.com/{{ site.twitter_username }}" class="icon-twitter-circled">twitter</a>
        </li>

        <li>
          <a href="http://facebook.com/{{ site.facebook_username }}" class="icon-facebook-circled">facebook</a>

        </li>

        <li>
          <a href="http://plus.google.com/{{ site.gplus_username }}" class="icon-gplus-circled">gplus</a>

        </li>

        <li>
          <a href="/feed.xml" class="icon-rss">rss feed</a>
        </li>
        <li>
          <a href="/contact" class="icon-phone">contact</a>
        </li>
        <li>
          <a href="/about" class="icon-user">about</a>
        </li>
      </ul>
    </div>

    <div class="quarter right omega">
      <h5>about </h5>
      <p>popupCAD is brought to you by the Wyss Institute for Biologically Inspired Engineering and the Harvard School of Engineering and Applied Science.</p>
  </section>
  <section>
    <div class ="third">
    <h1>popup<strong>CAD</strong></h1>

    </div>
    <img class="third" src="{{site.url}}/assets/images/seas_logo_white.png" />

    <img class="third omega" src="{{site.url}}/assets/images/wysslogo-white.png" />
  </section>
  <section>
    <hr>

      <p class="two-thirds">Copyright © 2014 - {{ site.time | date: "%Y" }} The President and Fellows of Harvard College.</p>
      <p class="third right omega"><a href="http://demonflower.com">designed by <strong>demonflower</strong></a></p>

  </section>
</footer>
