<footer>
  <section>
    <div class="quarter">

      <h5>stuff</h5>
      <ul class="no-bullets">
        <li>
          <a href="/download">download</a>
        </li>

        <li>
          <a href="/resources">resources</a>
        </li>

        <li>
          <a href="/citations">citations</a>
        </li>

        <li>
          <a href="/disclaimer">disclaimer</a>
        </li>

        <li>
          <a href="/license">license</a>
        </li>

      </ul>

    </div>
    <div class="quarter">

      <h5>Learn</h5>
      <ul class="no-bullets">
        <li>
          <a href="/tutorials">tutorials</a>
        </li>
        <li>
          <a href="/documentation">documentation</a>
        </li>
        <li>
          <a href="/getting-started">getting started</a>
        </li>
      </ul>

    </div>

    <div class="quarter">
      <h5>connect</h5>
      <ul class="no-bullets">

        <li>
          <a href="http://github.com/{{ site.github_username }}" class="icon-github">github</a>

        </li>

        <li>
          <a href="http://twitter.com/{{ site.twitter_username }}" class="icon-twitter-circled">twitter</a>
        </li>

        <li>
          <a href="http://facebook.com/{{ site.facebook_username }}" class="icon-facebook-circled">facebook</a>

        </li>

        <li>
          <a href="http://plus.google.com/{{ site.gplus_username }}" class="icon-gplus-circled">gplus</a>

        </li>

        <li>
          <a href="/feed.xml" class="icon-rss">rss feed</a>
        </li>
        <li>
          <a href="/contact" class="icon-phone">contact</a>
        </li>
        <li>
          <a href="/about" class="icon-user">about</a>
        </li>
      </ul>
    </div>

    <div class="quarter right omega">
      <h5>about </h5>
      A little region for some text content here. Who knows.
    </div>
  </section>
  <section>
    <hr>
    <img class="third" src="{{site.url}}/assets/images/seas_logo_white.png" />
    <div class ="third">
    <p>popupCAD is brought to you by the Wyss Institute for Biologically Inspred Engineering and the Harvard School of Engineering and Applied Science.</p>
    <p>Copyright © 2014 - {{ site.time | date: "%Y" }} The President and Fellows of Harvard College.</p>
    </div>
    <img class="third omega" src="{{site.url}}/assets/images/wysslogo-white.png" />
  </section>
  <section>    
    <div class="two-thirds">
          <p>Copyright © 2014 - {{ site.time | date: "%Y" }} {{ site.name }}. The President and Fellows of Harvard College.</p>
    </div>
    <div class="third right omega">
      <a href="http://demonflower.com">designed by <strong>demonflower</strong></a>
    </div>
  </section>
</footer>
