<div class="section-wrapper charlie">
  <section>
    <h1 class="centered">subscribe to the popupCAD newsletter</h1>
          <form action="{{ site.subscribe_form_url }}" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" id="newsletter-form" placeholder="signup@example.com" required>
          <input type="submit" value="Subscribe" id="newsletter-button" name="subscribe" class="btn btn-1 yellow">
          </form>
  </section>
</div>
