<aside>
  {% for section in site.data.tutorials_menu %}
    <h5>{{ section.title }}</h5>
    {% assign items = include.items %}

    <ul class="no-bullets">
    {% for item in section.items  %}
      {% assign item_url = item | prepend:"/tutorials/" | append:"/" %}

      {% if item_url == page.url %}
        {% assign c = "active" %}
      {% else %}
        {% assign c = "" %}
      {% endif %}

      {% for p in site.tutorials %}
        {% if p.url == item_url %}
          {% if p.published %}
            <li class="{{ c }}"><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

    {% endfor %}
    </ul>
  {% endfor %}
</aside>