
/* reset */
ul.ft-menu,
ul.ft-menu * {
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 1;
	position: relative;
	text-align: left;
    font: normal normal 100% sans-serif;
}


ul.ft-menu {
	list-style: none;
}

ul.ft-menu > li.ft-field {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 30px;
	background: none !important;
	position: relative !important;
}

ul.ft-menu > li.ft-field > span.ft-label {
    cursor: pointer;
}


ul.ft-menu > li.ft-field > div.ft-panel {
	position: absolute;
	min-width: 200px;
	top: 100%;
	margin-top: 15px;
	left: 50%;
	z-index: 9999;
}
ul.ft-menu > li.ft-field > div.ft-panel:before,
ul.ft-menu > li.ft-field > div.ft-panel:after {
	position: absolute;
	content: " ";
	height: 0;
	width: 0;
	left: 50%;
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected {
	padding: 10px 10px 0 10px;
	background: #F5F3EE;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 1px;
	cursor: pointer;
	padding: 0px 5px 1px 5px;
	color: white;
	background: #019AD2;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li:after {
	content: " \00D7";
	color: white;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-selected > li:active {
	background: #33BCEF;
}

ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search {
	padding: 10px;
	background: #F5F3EE;
}

ul.ft-menu > li.ft-field > div.ft-panel > fieldset.ft-search > input {
	outline: none;
	display: block;
	width: 140px;
}

ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags {
	position: relative !important;
/*	max-height: 200px !important;*/
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li {
    font-size: 12px;
	display: block;
	border-bottom: 1px solid #33373D;
	display: block;
	padding: 8px 35px 8px 15px;
	cursor: pointer;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li:after {
	content: attr(data-count);
  font-weight: bold;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	padding: 3px 6px;
	color: white;
	background: #48515C;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags > li.ft-highlight {
	background: #35AFE3;
}

ul.ft-menu > li.ft-field > div.ft-panel > div.ft-mismatch {
    font-size: 11px;
	padding: 10px 15px;
	color: white;
	background: #555555;
}


/* Custom webkit scrollbars */
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar {
    width: 10px;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar-track {
    background: #DDD;
}
ul.ft-menu > li.ft-field > div.ft-panel > ul.ft-tags::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #EEE;
}
