---
layout: page
body_class: "blogroll"
title: popupCAD blog
description: Several Shades of Awesome
published: true
sitemap:
  priority: 1
---


    {% for post in paginator.posts %}
    {% include blogroll_item.html %}
    {% endfor %}


    {% if paginator.next_page %}
    <a href="/blog/{% if paginator.next_page != 1 %}{{ paginator.next_page }}{% endif %}" class="btn btn-1 btn-1a pull-left">&larr; Older</a>
    {% else %}
    <button class="btn btn-1 disabled left" disabled="disabled">Older &rarr;</button>
    {% endif %}

    {% if paginator.previous_page %}
    <a href="/blog/{% if paginator.previous_page != 1 %}{{ paginator.previous_page }}{% endif %}" class="btn btn-1 btn-1a right">Newer &rarr;</a>
    {% else %}
    {% comment %}
    <button class="btn btn-1 disabled right" disabled="disabled">Newer &rarr;</button>
    {% endcomment %}

    {% endif %}








{% comment %}

  {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a class="btn btn-1 btn-1a" href="/blog/{% if paginator.next_page != 1 %}{{ paginator.next_page }}{% endif %}">see more posts</a>
    {% endif %}
  {% endif %}

<!-- newer pagination -->
  {% if paginator.total_pages > 1 %}

  <div class="pagination">
  	<ul>

  {% if paginator.previous_page %}
  		<li class="prev"><a href="/blog/{% if paginator.previous_page != 1 %}{{ paginator.previous_page }}{% endif %}">Previous</a></li>
  {% endif %}


  <li><a {% if paginator.page == 1 %}class="active" {% endif %}href="/blog/">1</a></li>
  {% for count in (2..paginator.total_pages) %}
  <li><a {% if paginator.page == count %}class="active" {% endif %}href="/blog/{{ count }}">{{ count }}</a></li>
  {% endfor %}


  {% if paginator.next_page %}
  		<li class="next"><a href="/blog/{{ paginator.next_page }}">Next</a></li>
  {% endif %}

  	</ul>
  </div>
  {% endif %}
{% endcomment %}


{% comment %}
<!-- older alternate pagination -->

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/blog/">Previous</a>
    {% else %}
      <a href="/blog/{{ paginator.previous_page }}" class="previous">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endcomment %}
