---
layout: default
---

{% comment %}
THIS IS THE TEMPLATE for docs collection items.
{% endcomment %}


{% capture h1bg %}#{{ page.h1bg }}{% endcapture %}
{% capture h1color %}#{{ page.h1color }}{% endcapture %}
<style media="screen" type="text/css">
      header,
      .alpha {background:{{ h1bg }};}
      .alpha h1{color:{{ h1color }};}
      header a:link,header a:visited{color:{{ h1color }};}
      .alpha a:link,.alpha a:visited{color:{{ h1color }};}
      a:link,a:visited {color:{{ h1bg }};
      }
</style>


<div class="section-wrapper alpha">
  <section>
    <div class="third">&nbsp;</div>
    <div class="two-thirds omega">
      <h1 itemprop="name headline">Docs</h1>
      <h2>{{ page.title }}</h2>
    </div>
  </section>
</div>
<section>
  <div class="third">
    <aside>
      {% for section in site.data.docs_menu %}
        <h5>{{ section.title }}</h5>
        {% assign items = include.items %}

        <ul class="no-bullets">
        {% for item in section.items  %}
          {% assign item_url = item | prepend:"/docs/" | append:"/" %}

          {% if item_url == page.url %}
            {% assign c = "active" %}
          {% else %}
            {% assign c = "" %}
          {% endif %}

          {% for p in site.docs %}
            {% if p.url == item_url %}
              {% if p.published %}
                <li class="{{ c }}"><a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

        {% endfor %}
        </ul>
      {% endfor %}
    </aside>
  </div>
  <div class="two-thirds omega">
  {{ content }}
  <hr>



    {% comment %}
      PAGINATION
      Map grabs the doc sections, giving us an array of arrays. Join, flattens all
      the items to a comma delimited string. Split turns it into an array again.
    {% endcomment %}


    {% assign items = site.data.docs_menu | map: 'items' | join: ',' | split: ',' %}

    {% comment %}
    Because this is built for every page, lets find where we are in the ordered
    document list by comparing url strings. Then if there's something previous or
    next, lets build a link to it.
    {% endcomment %}

    {% for document in items %}
      {% assign document_url = document | prepend:"/docs/" | append:"/" %}
      {% if document_url == page.url %}
        <div class="section-nav">
          <div class="left align-right">
              {% if forloop.first %}
                <span class="prev disabled">Back</span>
              {% else %}
                {% assign previous = forloop.index0 | minus: 1 %}
                {% assign previous_page = items[previous] | prepend:"/docs/" | append:"/" %}
                <a href="{{ previous_page }}" class="prev"><strong>Back</strong></a>
              {% endif %}
          </div>
          <div class="right align-left">
              {% if forloop.last %}
                <span class="next disabled">Next</span>
              {% else %}
                {% assign next = forloop.index0 | plus: 1 %}
                {% assign next_page = items[next] | prepend:"/docs/" | append:"/" %}
                <a href="{{ next_page }}" class="next"><strong>Next</strong></a>
              {% endif %}
          </div>
        </div>
        <div class="clear"></div>
        {% break %}
      {% endif %}
    {% endfor %}
</div>
</section>
