---
layout: default
---


{% comment %}
THIS IS THE TEMPLATE for gallery collection items.
{% endcomment %}

<div class="section-wrapper alpha">
  <section>

      <div class="third">
        <h6><strong>design name:</strong></h6>
        <h2 itemprop="name headline">{{ page.title }}</h2>
      </div>

      <div class="two-thirds omega">
        <h6><strong>description:</strong></h6>
        <p>{{ page.description }}</p>
      </div>


  </section>
</div>


{% for operation in page.operations %}

{% assign operation_number = forloop.index %}

  <section>
    <div class="third" id="imagebox">
      <img src="{{operation.png_image_file}}" />
    </div>
    <div class="two-thirds omega">

      <h2><strong>Operation {{ operation_number }} of {{ forloop.length }}</strong></h2>

      <p><strong>operation file name:</strong> {{ operation.png_image_file }}</p>
      <p><strong>operation name:</strong> {{ operation.name }}</p>
      <p><strong>operation description:</strong> {{ operation.description }}</p>

      <p><strong>operation cut files</strong>:
        {% for file in operation.cut_files %}
          <a href="{{ page.url }}{{ file }}">{{ file }}</a>,
        {% endfor %}
      </p>

      </div><!--/two-thirds-->
  </section>


  {% if operations.outputs != empty %}


    {% for output in operation.outputs %}
      <section>

        <div class="third" id="imagebox">
          <img src="{{ page.url }}{{output.png_image_file}}"  />
        </div>
        <div class="two-thirds omega">
          <h2><strong>Operation: {{ operation_number}}</strong>, Output Step  {{ forloop.index }} of {{ forloop.length }}</h2>

          <p><strong>output png_name:</strong> {{ output.png_image_file }}</p>
          <p><strong>output name:</strong> {{ output.name }}</p>
          <p><strong>output description:</strong> {{ output.description }}</p>
          <p><strong>cut files</strong>:
          {% for file in output.cut_files%}
            <a href="{{ page.url }}{{ file }}">{{ file }}</a>,
          {% endfor %}
          </p>

        </div><!--two thirds output-->
      </section>
    {% endfor %}

  {% endif %}

{% endfor %} <!-- /operations -->


<section>
    {% include disqus.html %}
</section>

<style>
#imagebox img{ width:100%;max-height:300px; overflow:hidden;}
</style>
