
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star-half:before { content: '\e804'; } /* '' */
.icon-star-half-alt:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-copyright:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-sliders:before { content: '\e809'; } /* '' */
.icon-rss:before { content: '\e80a'; } /* '' */
.icon-rss-squared:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-error-alt:before { content: '\e80d'; } /* '' */
.icon-up-dir:before { content: '\e80e'; } /* '' */
.icon-left-dir:before { content: '\e80f'; } /* '' */
.icon-right-dir:before { content: '\e810'; } /* '' */
.icon-down-dir:before { content: '\e811'; } /* '' */
.icon-angle-left:before { content: '\e812'; } /* '' */
.icon-angle-right:before { content: '\e813'; } /* '' */
.icon-angle-up:before { content: '\e814'; } /* '' */
.icon-angle-down:before { content: '\e815'; } /* '' */
.icon-up-open:before { content: '\e816'; } /* '' */
.icon-right-open:before { content: '\e817'; } /* '' */
.icon-left-open:before { content: '\e818'; } /* '' */
.icon-down-open:before { content: '\e819'; } /* '' */
.icon-reddit:before { content: '\e81b'; } /* '' */
.icon-reddit-squared:before { content: '\e81d'; } /* '' */
.icon-alert:before { content: '\e821'; } /* '' */
.icon-doc:before { content: '\e822'; } /* '' */
.icon-picture:before { content: '\e823'; } /* '' */
.icon-search-1:before { content: '\e824'; } /* '' */
.icon-mail:before { content: '\e826'; } /* '' */
.icon-mail-circled:before { content: '\e827'; } /* '' */
.icon-pinterest-circled-1:before { content: '\e828'; } /* '' */
.icon-facebook-circled:before { content: '\e829'; } /* '' */
.icon-twitter-circled:before { content: '\e82a'; } /* '' */
.icon-twitter-1:before { content: '\e82b'; } /* '' */
.icon-facebook-1:before { content: '\e82c'; } /* '' */
.icon-gplus-1:before { content: '\e82e'; } /* '' */
.icon-gplus-circled:before { content: '\e82f'; } /* '' */
.icon-pinterest:before { content: '\e830'; } /* '' */
.icon-linkedin:before { content: '\e833'; } /* '' */
.icon-linkedin-circled:before { content: '\e834'; } /* '' */
.icon-linkedin-squared:before { content: '\e835'; } /* '' */
.icon-user:before { content: '\e836'; } /* '' */
.icon-smile:before { content: '\e837'; } /* '' */
.icon-meh:before { content: '\e838'; } /* '' */
.icon-frown:before { content: '\e839'; } /* '' */
.icon-phone-circled:before { content: '\e83a'; } /* '' */
.icon-phone:before { content: '\e83b'; } /* '' */
.icon-file-code:before { content: '\e83d'; } /* '' */
.icon-cogs:before { content: '\e83e'; } /* '' */
.icon-attention:before { content: '\e840'; } /* '' */
.icon-pocket:before { content: '\e841'; } /* '' */
.icon-twitter-squared:before { content: '\e842'; } /* '' */
.icon-tumblr-squared:before { content: '\e843'; } /* '' */
.icon-pinterest-squared:before { content: '\e844'; } /* '' */
.icon-gplus-squared:before { content: '\e845'; } /* '' */
.icon-help-circled:before { content: '\e846'; } /* '' */
.icon-facebook-squared:before { content: '\e847'; } /* '' */
.icon-mail-squared:before { content: '\e848'; } /* '' */
.icon-share-squared:before { content: '\e849'; } /* '' */
.icon-cancel-circled2:before { content: '\e84a'; } /* '' */
.icon-tag:before { content: '\e84b'; } /* '' */
.icon-cancel-circled-1:before { content: '\e84c'; } /* '' */
.icon-cancel:before { content: '\e84d'; } /* '' */
.icon-comment-1:before { content: '\e84f'; } /* '' */
.icon-right:before { content: '\e851'; } /* '' */
.icon-left:before { content: '\e852'; } /* '' */
.icon-angle-circled-left:before { content: '\e854'; } /* '' */
.icon-angle-circled-right:before { content: '\e855'; } /* '' */